html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  color: #fafafa;
  background-image: radial-gradient(#202a51, #111235);
  background-size: cover;
  background-attachment: fixed;
  transform-style: preserve-3d;
  font-family: 'Lato', sans-serif; }
  body #app {
    padding-top: 6rem; }
  @media (min-width: 576px) {
    body {
      overflow: hidden; } }
  @media (min-width: 1200px) {
    body {
      overflow: scroll; } }

p a {
  color: #fafafa; }
  p a:visited {
    color: #fafafa; }

#lists {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1200px) {
    #lists {
      flex-direction: row; } }

.toolbar {
  display: inline-flex;
  margin-left: 1rem;
  padding: 0.5rem;
  transition: all 250ms ease-in-out;
  background: #fff; }
  @media (min-width: 1200px) {
    .toolbar {
      display: none;
      opacity: 0; } }
  .toolbar-item {
    color: #202a51; }
    .toolbar-item:nth-child(1) {
      margin-right: 1rem; }
    .toolbar-item:hover {
      color: #000;
      cursor: pointer; }
  .toolbar:hover {
    opacity: 1 !important; }

.list {
  margin-left: 1rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  transition: all 250ms ease-in-out; }
  @media (min-width: 1200px) {
    .list {
      min-width: 400px; } }
  .list:hover .toolbar {
    display: inline-flex;
    opacity: 0.5; }
  .list_title {
    display: inline-block;
    margin-bottom: 1rem; }
  .list_items {
    padding: 0;
    color: #000; }
  .list_item {
    background: #fff;
    list-style-type: none;
    font-size: 1.25rem;
    /* background: rgba(0,0,0,0.2); */
    margin-bottom: 1rem;
    position: relative; }
    .list_item-content {
      padding: 1rem; }
    .list_item--completed {
      /* background: #7d7c7c6e; */ }
      .list_item--completed .list_item-title {
        text-decoration-line: line-through; }
    .list_item-check {
      margin-right: 1rem;
      color: #999;
      transition: color 250ms ease-in-out; }
      .list_item-check:hover {
        color: #202a51;
        cursor: pointer; }
    .list_item-delete {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      color: #999;
      transition: color 250ms ease-in-out; }
      .list_item-delete:hover {
        color: #9D2A24;
        cursor: pointer; }
      .list_item-delete i {
        pointer-events: none; }
    .list_item-meta {
      font-size: 1rem;
      padding: 0.5rem;
      background: #f1f1f1; }
  .list_footer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem; }
    .list_footer input {
      margin-right: 1rem;
      height: 2rem;
      padding: 0.3rem;
      font-size: 1.25rem; }
    .list_footer .add {
      display: flex; }
      .list_footer .add i {
        pointer-events: none; }

.form-input {
  height: 2rem;
  padding: 0.3rem;
  font-size: 1.25rem;
  margin-bottom: 1rem; }

.login {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  padding-top: 10vh; }
  .login form {
    display: flex;
    flex-direction: column; }
    .login form input {
      height: 2rem;
      padding: 0.3rem;
      font-size: 1.25rem;
      margin-bottom: 1rem; }

.center {
  align-self: center;
  padding: 1rem 0;
  align-self: center;
  display: flex; }
  .center input {
    max-width: 50%; }

.navbar {
  height: 85px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #e1e1e1;
  color: #202a51;
  box-shadow: 2px 2px 2px #000;
  display: flex;
  justify-content: space-between;
  z-index: 3; }
  .navbar .left {
    padding-left: 1rem;
    align-self: center; }
  .navbar .right {
    padding-right: 1rem;
    align-self: center; }
  .navbar input {
    height: 1.6rem;
    padding: 0.3rem;
    font-size: 1.25rem; }

.btn {
  margin-right: 1em;
  /* remove this while use*/
  margin-bottom: 1em;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
  font-size: 1rem;
  padding: 0.5em 1.5em;
  transition: background 250ms ease-in-out; }
  .btn:hover {
    background: #d0d6ec;
    cursor: pointer; }
  .btn--blue {
    background-color: #202a51;
    color: #fafafa; }
    .btn--blue:hover {
      color: #202a51; }
  .btn--dark-blue {
    background-color: #111235; }
